Django==4.2.7
django-cors-headers==4.3.0
djangorestframework==3.14.0
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
django-allauth==0.58.2
django-celery-results==2.5.1
django-celery-beat==2.5.0
django-redis==5.4.0
channels==4.0.0
channels-redis==4.1.0
gunicorn==21.2.0
whitenoise==6.6.0
python-magic==0.4.27
yara-python==4.3.1
pefile==2023.2.7
celery==5.3.4
redis==5.0.1
python-dotenv==1.0.0
virustotal-python==1.0.2
pymisp==2.4.175
requests==2.31.0
cryptography==41.0.5
pillow==10.1.0
psycopg2-binary==2.9.9
python-magic-bin==0.4.14
